.settingContainer {
  height: 15%;
  width: 100%;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingIcon {
  color: rgb(156, 154, 154);
}