.mainContainer {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.topContainer {
  border-style: solid;
  border-color: red;
  height: 20%;
  background-color: black;
}
.midContainer {
  border-style: solid;
  border-color: green;
  height: 60%;
  background-color: black;
}
.botContainer {
  border-style: solid;
  height: 20%;
  border-color: blue;
  background-color: black;
}